%h1 Listing lifestyle_subgenres

%table
  %tr
    %th Genre
    %th Lifestyle cue
    %th
    %th
    %th

  - @lifestyle_subgenres.each do |lifestyle_subgenre|
    %tr
      %td= lifestyle_subgenre.genre
      %td= lifestyle_subgenre.lifestyle_cue_id
      %td= link_to 'Show', lifestyle_subgenre
      %td= link_to 'Edit', edit_lifestyle_subgenre_path(lifestyle_subgenre)
      %td= link_to 'Destroy', lifestyle_subgenre, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lifestyle subgenre', new_lifestyle_subgenre_path
