%h1 Listing user_answers

%table#userAnswerTable
  %thead
    %tr
      %th User
      %th Answer
      %th Question
      %th Survey
      %th
      %th
      %th

  %tbody
    - @user_answers.each do |user_answer|
      %tr
        %td= user_answer.user.nil? ? "USER NOT FOUND" : user_answer.user.name
        %td= user_answer.answer.answer
        %td= user_answer.answer.question.question
        %td= user_answer.survey_id
        %td= link_to 'Show', user_answer
        %td= link_to 'Edit', edit_user_answer_path(user_answer)
        %td= link_to 'Destroy', user_answer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User answer', new_user_answer_path

:javascript
  $('#userAnswerTable').tablesorter();
