= form_for([@user_inference_response], remote: true) do |f|
  - if @user_inference_response.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_inference_response.errors.count, "error")} prohibited this user_inference_response from being saved:"
      %ul
        - @user_inference_response.errors.full_messages.each do |msg|
          %li= msg

  .field
    - @inference_clarifications.each do |clarification|
      %li 
        = f.radio_button :inference_clarification_id, clarification.id
        = f.label :inference_clarification_id, clarification.clarification
  .field
    = f.label :inference_id
    = f.number_field :inference_id, :value => params[:id]
  .field
    = f.label :user_id
    = f.number_field :user_id, :value => current_user.id
  .actions
    = f.submit 'Save', :class => "submitAnswerButtons"

= form_for([@user_answer], remote: true) do |f|
  - if @user_answer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_answer.errors.count, "error")} prohibited this user_answer from being saved:"
      %ul
        - @user_answer.errors.full_messages.each do |msg|
          %li= msg

  .field.hidden
    = f.label :user_id
    = f.number_field :user_id, :value => current_user.id
  .field
    - @answers.each do |answer|
      %li 
        = f.radio_button :answer_id, answer.id
        = f.label :answer_id, answer.answer

  .field.hidden
    = f.label :survey_id
    = f.number_field :survey_id, :value => params[:id]
  .actions.hidden
    = f.submit 'Save', :class => "submitAnswerButtons"
