= form_for([@lifestyle_subgenre_inference_clarification_connector], remote: true) do |f|
  - if @lifestyle_subgenre_inference_clarification_connector.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lifestyle_subgenre_inference_clarification_connector.errors.count, "error")} prohibited this lifestyle_subgenre_inference_clarification_connector from being saved:"
      %ul
        - @lifestyle_subgenre_inference_clarification_connector.errors.full_messages.each do |msg|
          %li= msg
  .field.hidden
    = f.label :inference_clarification_id
    = f.number_field :inference_clarification_id, :value => clarification

  .field
    = f.collection_select :lifestyle_subgenre_id, @subgenres, :id, :genre

  .actions
    = f.submit 'Save'
