= form_for([@lifestyle_cue_inference_connector], remote: true) do |f|
  - if @lifestyle_cue_inference_connector.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lifestyle_cue_inference_connector.errors.count, "error")} prohibited this lifestyle_cue_inference_connector from being saved:"
      %ul
        - @lifestyle_cue_inference_connector.errors.full_messages.each do |msg|
          %li= msg

  .field.hidden
    = f.label :inference_id
    = f.number_field :inference_id, :value => inference

  .field
    = f.label :lifestyle_cue_id
    = f.collection_select :lifestyle_cue_id, @cues, :id, :cue
  .actions
    = f.submit 'Save'
